<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kesar Mango Cards</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/bcf6364679.js" crossorigin="anonymous"></script>
</head>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  *{

  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
  .footer{
        background-image: linear-gradient(to bottom,rgba(255, 133, 0, 1), rgba(255, 166, 69, 0.7));
        
    }
</style>

<body >
    {% include 'nav.html' %}
    <!-- Products List Section -->
  <div class="bg-gradient-to-r from-yellow-50 to-yellow-100 min-h-screen flex flex-col items-center py-10">
  <h1 class="text-4xl font-bold text-orange-600 mb-10"> {{category.category_name }} Mango varieties </h1>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-6 w-full max-w-6xl">
    {% for product,colors in products %}
    <!-- Card 1 -->
    <div class="{{ colors }} rounded-2xl shadow-md p-6 flex flex-col items-center hover:shadow-xl transition">
      <a href="{{ product.get_url }}"><img src="{{ product.image.url }}" alt="Sindhura 4pc" class="w-36 h-36 object-contain mb-4 hover:scale-105 transition-transform duration-300" /></a>
      <a href="{{ product.get_url }}" class="text-decoration-none"><h2 class="text-lg font-semibold text-decoration-none text-gray-800">{{ product.Product_name}}</h2></a>
      <p class="text-orange-500 font-medium">{{ product.description}}/ ₹ {{ product.Price }}</p>
      <div class="relative bottom-0 right-0 top-6 left-24">
          <div
            class="w-14 h-14 bg-orange-500 rounded-tl-[20px] rounded-br-2xl  flex items-center justify-center">
            <a href="{% url 'add_cart' product.id %}" class="text-white text-xl text-decoration-none">🛒</a>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
  <!-- End Section -->
  {% include 'mango.html' %}
</div>
{% include 'footer.html' %}
</body>
</html>